body{
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}


.fixed-nav{
    position: fixed;
    top: 26px;
    left: 54px;
    z-index: 1;
}
.fixed-nav-pic{
    height: calc(100vh/15);
    width: calc(100vh/3);
}
.hamburger-menu {
    position: fixed;
    top: 36px;
    left: 25%;
    z-index: 1;
    height: 15px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamburger{
    width: 100%;
    height: 2px;
    background-color: #576a77;
}

.description{
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 54px;
    color: #576a77;
    font-family: 'Titillium Web', SansSerif;
    font-size: small;
}

.scroll-more{
    position: fixed;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    font-family: 'Titillium Web', SansSerif;
    color: white;
    text-transform: uppercase;
}

.main-header{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('http://www.auroralic.com/_/img/home/Building_Sliver.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}